# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Matlab mex files
*.mexa64

# backup files
*~

# log files
*.log

# LaTex temp file
*.aux

# other specific file
DTWave.mexa64.backup15Au2017
DTWave.mexa64.backup30May2017
allconsensus.fa
trinity_align.fasta
var.vcf
var_filt.vcf.gz
var_filt.vcf.gz.tbi


